:root {
  --navbar-dark-color: #ccc;
  --navbar-dark-hover-color: white;
  --navbar-dark-active-color: white;
  --btn-bg-color: #2d2d2d;
  --btn-hover-bg-color: #007bff;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  transition: color 0.3s ease;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: blueviolet;
  border-bottom: 2px solid transparent;
}

.navbar-dark .navbar-nav {
  display: flex;
  align-items: center;
  margin-right: 199px; /* Adjust as needed */
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 0.25rem;
  position: relative;
  overflow: hidden;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link:focus {
  border-bottom-color: var(--navbar-dark-active-color);
}

.btn-secondary {
  background-color: var(--btn-bg-color);
  border: none;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover, .btn-secondary:focus {
  background-color: black;
}

.launch-app-button {
  --color: #108fffda;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
  font-family: monospace;
  background-color: var(--color);
  color: white;


}

.launch-app-button::before, .launch-app-button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
  color: white;
}

.launch-app-button::before {
  top: -1em;
  left: -1em;
}

.launch-app-button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.launch-app-button:hover::before, .launch-app-button:hover::after {
  height: 410px;
  width: 410px;
}

.launch-app-button:hover {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.launch-app-button:active {
  filter: brightness(0.8);
}


.launch-app-button2 {
  --color: #ff6c10da;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
  font-family: monospace;
  background-color: var(--color);
  color: white;


}

.launch-app-button2::before, .launch-app-button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
  color: white;
}

.launch-app-button2::before {
  top: -1em;
  left: -1em;
}

.launch-app-button2::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.launch-app-button2:hover::before, .launch-app-button2:hover::after {
  height: 410px;
  width: 410px;
}

.launch-app-button2:hover {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.launch-app-button2:active {
  filter: brightness(0.8);
}
